@using KendoDreamCarShopper.Models
@model IEnumerable<Make>
@{
    ViewBag.Title = "Dream car Shopper";
}

<div id="homeMainContainer" class="row-fluid"></div>

@section scripts
{
    <script src="~/Scripts/App/Views/Home/index.js"></script>
}