@{
    ViewBag.Title = "Dream Car Shopper: Make";
}

<div id="makesMainContainer" class="row-fluid">
    <div class="span2">
        <img id="makeImage" />
        <span id="makeLocation"></span>
    </div>
    <div class="span3"></div>
</div>

@section scripts
{
    <script src="~/Scripts/App/Views/Home/make.js"></script>
}
