@{
    ViewBag.Title = "Dream Car Shopper: Model";
}

<div id="modelDetailsMainContainer" class="row-fluid">
    <div class="span6">
        <img class="selectedModelImage" />
        <div id="modelThumbnails"></div>
    </div>

    <div class="span6 modelDetails">
        <div class="row-fluid">
            <div class="span3">
                <img class="makeImage" />
            </div>
            <div class="span8 text-right">
                <span id="yearAndName"></span>
                <br />
                <span id="basePrice"></span>
            </div>
        </div>
        <p id="description"></p>
        <span id="specsHeader">Specifications</span>
        <div id="specsContainer">
            <div>
                <label for="engineType">Engine:</label><span id="engineType"></span>
            </div>
            <div>
                <label for="breakHorsepower">Power:</label><span id="breakHorsepower"></span>
            </div>
            <div>
                <label for="zeroToSixty">0 - 60:</label><span id="zeroToSixty"></span>
            </div>
            <div>
                <label for="topSpeed">Top Speed:</label><span id="topSpeed"></span>
            </div>
        </div>
    </div>
</div>

<script id="modelThumbnailTemplate" type="text/x-kendo-template">
    <div class="thumbnailContainer span3">
        <img class="thumbnail"
             src="#= lowResolutionUrl #"
             title="#= shortDescription #"
             alt="#= shortDescription #" />
    </div>
</script>

@section scripts
{
    <script src="~/Scripts/App/Views/Home/model.js"></script>
}
