@using KendoDreamCarShopper.Extensions;

<h2>Maintenance - Makes</h2><br/>

<div id="makes"></div>

@section scripts
{
    <script src=@Url.ContentVersioned("~/Scripts/App/Views/Maintenance/makes.js")></script>
}
