
<h2>Maintenance - Model Details</h2><br/>
<div id="modelDetails" class="inputcontainer">
    <label for="make">Make</label>
    <!-- Explicitly place the Kendo Validation tooltip as specified in https://docs.telerik.com/kendo-ui/controls/editors/validator/overview -->
    <!-- It is bound to input name through "data-for" attribute. -->
    <input id="make"
            name="make"
            placeholder="Select Make"
            data-text-field="Text"
            data-value-field="Id"
            data-bind="source: model.makes, value: model.makeId"
            required
            data-required-msg="Must select a Make"
    />
    <span class="k-invalid-msg" data-for="make"></span>
    <br />

    <label for="year">Year</label>
    <input type="number"
           id="year"
           name="year"
           placeholder="Year"
           data-bind="value: model.year"
           class="k-textbox"
           required
           validationMessage="Please enter Year"
           min="1950"
           max="2025" />
    <span class="k-invalid-msg" data-for="year"></span>
    <br />

    <label for="model">Model</label>
    <input type="text"
           id="model"
           name="model"
           placeholder="Model Name"
           data-bind="value: model.name"
           class="k-textbox"
           required
           validationMessage="Please enter Model Name"
           maxlength="75" />
    <span class="k-invalid-msg" data-for="model"></span>
    <br />

    <label for="engineType">Engine</label>
    <input type="text"
           id="engineType"
           name="engineType"
           placeholder="Engine Type"
           data-bind="value: model.engineType"
           class="k-textbox"
           required
           validationMessage="Please enter Engine Type"
           maxlength="75" />
    <span class="k-invalid-msg" data-for="engineType"></span>
    <br />

    <label for="breakHorsepower">Break Horsepower</label>
    <input type="number"
           id="breakHorsepower"
           name="breakHorsepower"
           placeholder="Break Horsepower"
           data-bind="value: model.breakHorsepower"
           class="k-textbox"
           required
           validationMessage="Please enter Break Horsepower"
           min="300"
           max="2000" />
    <span class="k-invalid-msg" data-for="breakHorsepower"></span>
    <br />

    <label for="zeroToSixty">0 - 60 Time (secs)</label>
    <input type="number"
           id="zeroToSixty"
           name="zeroToSixty"
           placeholder="0 - 60 Time (secs)"
           data-bind="value: model.zeroToSixty"
           class="k-textbox"
           required
           validationMessage="Please enter the time required for acceleration from 0 to 60 mph"
           min="1"
           max="10" />
    <span class="k-invalid-msg" data-for="zeroToSixty"></span>
    <br />

    <label for="topSpeed">Top Speed (mph)</label>
    <input type="number"
           id="topSpeed"
           name="topSpeed"
           placeholder="Top Speed (mph)"
           data-bind="value: model.topSpeed"
           class="k-textbox"
           required
           validationMessage="Please enter Top speed"
           min="1"
           max="1000" />
    <span class="k-invalid-msg" data-for="topSpeed"></span>
    <br />

    <label for="basePrice">Base Price</label>
    <input type="number"
           id="basePrice"
           name="basePrice"
           placeholder="Base Price (US $)"
           data-bind="value: model.basePrice"
           class="k-textbox"
           required
           validationMessage="Please enter Base Price" />
    <span class="k-invalid-msg" data-for="basePrice"></span>
    <br />

    <label for="description" class="textareaLabel">Description</label>
    <textarea id="description"
        name="description"
        placeholder="Description"
        data-bind="value: model.description"
        class="k-textbox"
        required
        validationMessage="Please enter Description"
        maxlength="2000" >
    </textarea>
    <span class="k-invalid-msg" data-for="description"></span>
    <br />

    <div id="images" data-bind="source: model.images"></div>
    <br />

    <input type="button" class="k-button" data-bind="click: save" value="Save" /><br />
    <span id="status"></span>
</div>

@section scripts
{
    <script src="~/Scripts/App/Views/Maintenance/modelDetails.js"></script>
}
<script type="text/x-kendo-template" id="commandTemplate">
    <input type="button" class="k-button" data-bind="click: deleteImage" value="Delete" />
</script>